team  h1{
    font-size: 35px;
    display: flex;
    justify-content: center;
    font-weight: 100;
    font-family: 'Josefin Sans', sans-serif;

}
.bros img{
    width: 60%;
    display: flex;
    padding-left: 12px;
    margin-top: 5%;
    justify-content: space-evenly;
    filter: grayscale(1) brightness(1.01);
    -webkit-transition: all .5s ease;
    transition: all 
}
.name h1{
    position: relative;
    margin-left: -300%;
    padding: 290px 0px;
    font-weight: 200;
}
.bros img:hover{
    
    filter: brightness(100%);
    transition: 1s;
}
.bros1 img{
    width: 60%;
    /* display: flex; */
    /* padding-left: 12px; */
    margin-top: 5%;    
    justify-content: space-evenly;
    filter: grayscale(1) brightness(1.01);
    -webkit-transition: all .5s ease;
    transition: all .5s 
}
.bros1 img:hover{
    filter: brightness(100%);
    transition: 1s;
}
.image{
    display: flex;
}
.bro2 img{
    width: 60%;
    margin-top: 5%;
    justify-content: space-evenly;
    filter: grayscale(1) brightness(1.01);
    -webkit-transition: all .5s ease;
    transition: all .5s 
}
.bro2 img:hover{
    filter: brightness(100%);
    transition: 1s;
}
.name2 h1{
    position: relative;
    margin-top: 245%;
    margin-left: -243%;
}
.name3 h1{
    position: relative;
    margin-top: 225%;
    margin-left: -220%;
    font-weight: 200;
}   
        
